@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .body-bg {
    background: conic-gradient(
      from 180deg at 50% 50%,
      rgba(233, 184, 234, 0.71) 0deg,
      rgba(248, 202, 202, 0.921875) 28.12deg,
      #8fe4ff 275.62deg,
      rgba(233, 184, 234, 0.71) 360deg
    );
  }
  .box-shadow-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .box-shadow-car-task {
    filter: drop-shadow(1px -1px 10px rgba(0, 0, 0, 0.13));
  }

  .info-titles {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
  .form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    min-width: 200px;
    margin-right: 20px;
  }
  .imput-form {
    background: #ececec;
    border: 1px solid #000000;
    border-radius: 10px;
    min-width: 400px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
  }
  .imput-form-date {
    background: #ececec;
    border: 1px solid #000000;
    border-radius: 10px;
    min-width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
  }
  .form_label {
    display: flex;
  }
}
